h1 {
font-family: 'Montserrat', sans-serif;
font-size: 24px;
font-weight: 600;
}

h2 {
font-family: 'Montserrat', sans-serif;
font-style: Black;
font-size: 16px;
}

h3 {
font-family: 'Montserrat', sans-serif;
font-size: 14px;
font-weight: 400;
}

h5 {
font-family: 'Montserrat', sans-serif;
font-size: 12px;
font-weight: 400;
}


text {
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  font-weight: 500;
}

.bar:hover {
   fill: #00b33c;
 }
