h1 {
font-family: 'Montserrat', sans-serif;
font-size: 24px;
font-weight: 600;
}

h3 {
font-family: 'Montserrat', sans-serif;
font-size: 14px;
font-weight: 500;
}

h5 {
font-family: 'Montserrat', sans-serif;
font-size: 14px;
font-weight: 400;
}

text {
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  font-weight: 500;
}

.labelClass {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: 400;
}

.titleClass {
  font-family: 'Montserrat', sans-serif;
  font-size: 36px;
  font-weight: 500;
}

 .subTitle {
   font-family: 'Montserrat', sans-serif;
   font-size: 12px;
   font-weight: 500;
 }

#menu {
  position: absolute;
  top: 125px;
  left: 30px;
  width: 230px;
}

li {
  list-style-type: none;
  cursor: pointer;
  padding-bottom: 10px;
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
  font-weight: 600;
  color: #909090;
}

li:hover {
  color: #00000;
}

li.preview {
  font-weight: 400;
}

li.selected {
  font-weight: bold;
}

li:hover {
  color: #000;
}
